@charset "UTF-8";

@media screen and (min-width:768px){
    menu{
        display: block !important;
        background-color: rgba(0, 0, 0, 0.7);
    }
    menu ul{
        background-color: rgba(0, 0, 0, 0.777);
        text-align: center;
    }
    menu li{
        display: inline-block;
        border: none;
    }
    menu li a{
        background-color: rgba(0, 0, 0, 0.7);
        border-top: 0px;
    }
    #burguer{
        display: none;
    }
    main{
        width: 60vw;
    }
    
}