@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    background-color: lightgray;
    height: 100vh;
    width: 100vw;
}

header {
    background-color: darkblue;
    color: white;
    padding: 10px 0px;
    text-align: center;
    font-weight: bold;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}
header > h1 {
    flex: 0 0 200px;
    text-shadow: 2px 2px 3px black;
}

nav{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}
header > nav > a {
    background-color: black;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 10px 15px;
    display: inline-block;
    border-radius: 9px;
}
a:hover {
    background-color: darkgray;
    color: black;
}
main {
    background-color: white;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.5);
}